@import "../../styles/variables.scss";

.profilePage {
  padding: 30px 200px;
  display: grid;
  gap: 20px;
  color: $text-white;
  max-width: 1200px;
  margin: 0 auto;
  /* căn giữa */

  .media-container {
    position: relative;

    .backgroundImg {
      height: 350px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .infoGroup {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 300px;
      padding: 0 40px;
      width: calc(100% - 80px); // chuẩn

      .avaGroup {
        display: flex;

        .avaPr {
          position: relative;

          .avatarUser {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 4px $text-white solid;
          }

          .fa-camera {
            position: absolute;
            right: 4px;
            bottom: 20px;
            background-color: $text-gray-light;
            padding: 8px;
            border-radius: 50%;
            color: #000;
          }

          .fa-camera:hover {
            cursor: pointer;
            background-color: $hover-gray-dark;
          }
        }

        .namePr {
          margin-left: 12px;

          .name {
            margin-top: 80px;
            font-weight: 600;
            font-size: 30px;
          }

          .username {
            margin-top: 2px;
            font-style: italic;
          }
        }
      }

      .changeProfile {
        display: flex;
        gap: 10px;
        color: #000;
        background-color: $text-gray-light;
        padding: 10px;
        border-radius: 5px;
        margin-top: 40px;
      }

      .changeProfile:hover {
        cursor: pointer;
        background-color: $hover-gray-dark;
      }

      .messageFriend {
        display: flex;
        gap: 10px;
        color: #000;
        background-color: $text-gray-light;
        padding: 10px;
        border-radius: 5px;
        margin-top: 40px;
      }

      .messageFriend:hover {
        cursor: pointer;
        background-color: $hover-gray-dark;
      }
    }
  }

  .listPost {
    margin-top: 200px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;

    .friendInfo {
      //border: 1px solid #7a7a7a;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .generalInfo {
        padding: 10px 8px 20px 8px;
        border-radius: 15px;
        background-color: $bg-card;


        h3 {
          font-weight: 700;
          font-size: 20px;
        }

        .introGroup {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 6px;

          li {
            display: flex;
            gap: 8px;
            align-items: center;

            p {
              font-size: 14px;
              align-self: center;
            }
          }
        }

        .picGroup {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin-top: 10px;
          gap: 16px;

          .eachPic {
            position: relative;
            border: 1px solid $text-gray-light;
            border-radius: 10px;
            aspect-ratio: 1 / 1;

            .picPost {
              height: 100%;
              width: 100%;
              object-fit: cover;
              display: block;
              border-radius: 10px;
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0); // ban đầu trong suốt
              transition: background-color 0.3s ease;
            }

            &:hover::after {
              background-color: rgba(0, 0, 0, 0.4); // đen mờ 40% khi hover
              cursor: pointer;
            }
          }
        }
      }
    }

    .friendPost {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .emptyPost {
        display: flex;
        flex-direction: column;
        align-items: center;

        .fa-circle-exclamation {
          font-size: 40px;
        }

        .alert {
          margin-top: 10px;
          font-size: 20px;
        }
      }

      .eachPost {
        background-color: $bg-card;
        padding: 30px;
        border-radius: 15px;

        .ownerPost {
          display: flex;
          gap: 10px;

          .ownerAva {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 5px $bg-main solid;
            border-radius: 12px;
          }

          .ownerInfo {
            line-height: 1.5;

            .ownerTag {
              color: $text-gray-secondary;
            }

            .ownerName {
              color: $text-white;
              font-weight: bold;
              font-size: 20px;
            }
          }
        }
      }

      .contentPost {
        margin-top: 20px;
        color: $text-white;

        .des_content {}

        .img_content {
          margin-top: 10px;
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }

      .interactPost {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        color: $text-white;
        font-size: 20px;

        .love_icon {
          cursor: pointer;
          transition: transform 0.2s ease, color 0.3s ease;
        }

        .comment_icon {
          cursor: pointer;
        }

      }

      .break {
        margin-top: 20px;
        border: 1px $text-gray-primary solid;
      }

      .writeComment {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        align-items: center;

        .avaUser {
          width: 35px;
          height: 35px;
          border: 3px $bg-main solid;
          border-radius: 5px;
        }

        .inputComment {
          border: none;
          background-color: $bg-main;
          width: 100%;
          border-radius: 10px;
          padding: 10px 20px;
          color: $text-white;
        }

        .sendButton {
          color: $text-white;
          cursor: pointer;
        }

        .sendButton:hover {
          transform: scale(1.4);
        }
      }
    }
  }
}