@import './reset.scss';
@import './variables.scss';

// You can add other global styles here using the variables
body {
    color: $text-primary;
    // font-family: 'Montserrat', sans-serif; // Already imported in App.tsx but good to set here if needed
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}