.header{
    background-color: #1A1A1A;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

    .logo-container{
        display: flex;
        align-items: center;
        gap: 30px;
        cursor: pointer;
        color: #fff;
        font-weight: bold;

        .home-logo{
        width: 70px;
        height: 70px;
        }

        .search-input{
        border: none;
        padding: 10px;
        font-size: 14px;
        border-radius: 10px;
        color: #fff;
        background-color: #282828;
        }
    }

    .nav-list{
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 30px;

        a{
            cursor: pointer;
            color: #fff;
            font-size: 20px;
            text-decoration: none;

            &:hover{
            color: #f0f0f0;
            }
        }
    }
}