@import "../../styles/variables.scss";

.header {
    background-color: $bg-main;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    .logo-container {
        display: flex;
        align-items: center;
        gap: 30px;
        cursor: pointer;
        color: $text-white;
        font-weight: bold;

        .home-logo {
            width: 100%;
            height: 100%;
        }

        .search-input {
            border: none;
            padding: 10px;
            font-size: 14px;
            border-radius: 10px;
            color: $text-white;
            background-color: $bg-card;
        }
    }

    .nav-list {
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 30px;

        a {
            cursor: pointer;
            color: $text-white;
            font-size: 20px;
            text-decoration: none;

            &:hover {
                color: $text-link-hover;
            }
        }
    }
}